:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color:#212121;
    --navigation-color: #757575;
    --button-background-color:#F5F4FA;
    --focus-color:#FFFFFF;
    --hero-item-background-color:#2F303A;
}

  * {
    margin: 0;
  }
  ul {

    list-style-type: none;
    
    }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
body {
    font-family:var(--main-font);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}
a {
    text-decoration: none;
}
.slogan {
    background-color:var(--hero-item-background-color);
}
.section {
    background-color: var(--button-background-color);
}
/* ---------- HEADER --------------*/
header {
    border-bottom:1px solid #ECECEC;
}
.logo,
.logo-color {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.192;
    color:var(--main-color);
}


.logo {
    color:rgba(33, 150, 243, 1);
}
.logo-color {
    color:rgba(0, 0, 0, 1);
}
.button {
    cursor: pointer;
}

.navigation-list-link,
.navigation-list-mail,
.navigation-list-tel
 {
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.navigation-list-mail,
.navigation-list-tel {
    color:var(--navigation-color)
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-mail:hover,
.navigation-list-mail:focus,
.navigation-list-tel:hover,
.navigation-list-tel:focus
 {
    color: var(--main-color);
 }
/* -----------END HEADER --------- */


/* ---------- MAIN --------------*/
.team-job {
        line-height: 1.187;
        color:var(--navigation-color)
}

.team-name {
        font-weight: 500;
        line-height: 1.187;
        color:var(--secondary-color);
}
.team-img-list-item {
         background-color:var(--focus-color);
        }


.secondary-undertitle {
font-size: 36px;
line-height: 1.167;
color:var(--secondary-color);
}

.hero-text {
        color:var(--navigation-color)
}

.undertitle {
        line-height: 1.143;
        text-transform: uppercase;
        color: var(--secondary-color);
}

.hero-item-text {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.363;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:var(--focus-color);
}

.hero-item {
    background-color:var(--hero-item-background-color)
}
.hero-model-btn {
    
font-family: 'Roboto';
font-size: 16px;
line-height: 30px;
        background-color: var(--button-background-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        line-height: 1.875;  
        letter-spacing: 0.06em;
        color:var(--secondary-color);
}
        .hero-model-btn:hover,
        .hero-model-btn:focus {
            color:var(--focus-color);
            background-color: var(--main-color);
        }
 .slogan-button {
    
            font-family: 'Roboto';
            font-size: 16px;
            line-height: 30px;
                    background-color: var(--main-color);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    line-height: 30px; 
                    letter-spacing: 0.06em;
                    font-size: 16px;
                    color:var(--focus-color);
                    }
.nav-button-card {
    
font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
line-height: 1.625;
color: var(--secondary-color);
background-color: var(--button-background-color);
border: 0;
}
.nav-button-card:hover,
.nav-button-card:focus {
    color:var(--focus-color);
    background-color: var(--main-color);
}
.nav-link {
    
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    color: var(--secondary-color);
    background-color: var(--button-background-color);
    border: 0;
    }
    .nav-link:hover,
    .nav-link:focus {
        color:var(--main-color);
    }
    
/* ---------- END-MAIN --------------*/

/* ---------- PORTFOLIO --------------*/
.portfolio-item {
        font-size: 18px;
        line-height: 2; 
        letter-spacing: 0.06em;
        color: var(--secondary-color);
}
.portfolio-class-description {
        font-size: 16px;
        line-height: 1.875;
        color:var(--navigation-color);
}
/* ---------- END-PORTFOLIO --------------*/

/* ---------- FOOTER --------------*/
.footer {
    background:var(--hero-item-background-color);

}
.footer-mail,
.footer-tel {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

}
.footer-mail {
    text-decoration-line: underline;
}
.footer-address-item {
font-family: 'Roboto';
color:var(--focus-color);
font-style: normal;
}
.footer-logo-color {
    color:rgba(255, 255, 255, 1);
}
/* ---------- END-FOOTER --------------*/